
 main {
         font-size: 30px;
         padding-left: 10px;
         padding-top: 0.8em;
     }
     section {
        font-size: 50px;
        padding-right: 1.2em;
        padding-top: 1.1em;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin:0px auto;
    }
     
        
         